<!DOCTYPE html>
<html lang="en">
    <script type=text/javascript
          src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type=text/javascript>
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>   
 
 
<head>
</head>
<body>
    <canvas id="can"></canvas>
    <img id="pic" src='{{ file }}' style="display: none;"></img>
    <form action = "{{ url_for('model_predict') }}" enctype="multipart/form-data" method = "POST">
        <input type="hidden" name="pixels" id="pixel_data" value='' />
        <input type="submit" />
    </form>
    
        
</body>
<script type=text/javascript>
    var canvas = document.getElementById("can");
    var ctx = canvas.getContext("2d");
    var x1 = null;
    var x2 = null;
    var y1 = null;
    var y2 = null;
    var img = document.getElementById("pic");
    var height = img.height; 
	var width = img.width;
    var ratio = height / width;
    var can_height = 500
    canvas.style.height = can_height.toString() + "px";//(img.height).toString() + "px";
    canvas.style.width = (can_height/ratio).toString() + "px";//(img.width).toString() + "px";
    img.onload = function() {
        ctx.drawImage(img, 0, 0, img.width, img.height, 0,0,canvas.width, canvas.height);
    }
    document.getElementById('pixel_data').value = canvas.toDataURL("img/png");



var mouse = {x: 0, y: 0};
    

canvas.addEventListener('mousemove', function(e) {
  mouse.x = e.pageX - (canvas.offsetLeft);
  mouse.y = e.pageY - (canvas.offsetTop);
  console.log(canvas.offsetLeft);
}, false);

ctx.lineWidth = 5;
ctx.lineJoin = 'round';
ctx.lineCap = 'round';
ctx.strokeStyle = 'rgb(255, 0, 0)';
var origin_x = 0;
var origin_y = 0;
 
canvas.addEventListener('mousedown', function(e) {
    ctx.beginPath();
    origin_x = mouse.x;
    origin_y = mouse.y;
    console.log(origin_x);
    ctx.moveTo(mouse.x, mouse.y);
    canvas.addEventListener('mousemove', onPaint, false);
}, false);
 
canvas.addEventListener('mouseup', function() {
    canvas.removeEventListener('mousemove', onPaint, false);
    ctx.beginPath();
    ctx.moveTo(mouse.x,mouse.y);
    ctx.lineTo(origin_x,origin_y);
    ctx.stroke();
    document.getElementById('pixel_data').value = canvas.toDataURL("img/png");
}, false);
 
var onPaint = function() {
    ctx.lineTo(mouse.x, mouse.y);
    ctx.stroke();
};






    
    
</script>