<!DOCTYPE html>
<html lang="en">
 
 
<head>
	<title>Flask App </title>
	    
    
</head>
<body>
	<a href='/new_pat'><p>New patient</p></a>
	{% for row in rows %}
		<div class="patient">
			<p>{{row["case_num"]}}</p>
			<p>{{row["name"]}}</p>
			<p>{{row["age"]}}</p>
			<p>{{row["assessment"]}}</p>
			<img src="{{row['filename']}}">{{row['file_source']}}</img>
		</div>            
				
	{% endfor %}
</body>
<style>
	.patient {
		height: 200px;
		width: 200px;
		border: 2px solid black;
		
	}
	
</style>
<script>
	
	
	

</script>