<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% if session['logged_in'] %}
    <h1>You're logged in already!</h1>
    {% else %}
    <div class="container" style="position: absolute; height: 100%; width: 100%; align-items: start; top: 150px; justify-content: center; display: flex;">  
        <div class="card" style="height: 35rem; width: 35rem; border: 2px solid rgb(204,204,204); border-radius: 1px; top: 150px; box-shadow: 0 0 5px 2px rgb(204,204,204);">
            <img class="card-img-top" src="static/admin.png" alt="Card image cap" style="height: 120px; width: 120px; position: absolute; top: 5rem; left: 66rem; border: 4px solid rgb(204,204,204); border-radius: 20px;">
            <div class="card-body"style="justify-content: center; display: flex;">
                <form action="{{ url_for('login') }}" method="POST" >
                    <div class="input-group">
                        <i class="glyphicon glyphicon-user" style="position: absolute; top: 21.2rem; left: -15.2rem;z-index: 1;"></i>
                        <input type="username" name="username" placeholder="Username" style="height: 4rem; width: 28rem; position: absolute; top: 20rem; left: -13rem;">
                    </div>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock" style="position: absolute; top: 26.2rem; left: 56.7rem;z-index: 1;"></i>
                        <input type="password" name="password" placeholder="Password" style="height: 4rem; width: 28rem; position: absolute; top: 25rem; left: 59rem;">
                    </div>
                    <input type="submit" value="Log in" style="height: 3rem; width: 30rem; position: absolute; top: 30rem; left: 57rem; " class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</body>