<!DOCTYPE html>
<html lang="en">
 
 
<head>
<body>
     
    <form action = "{{ url_for('addpat') }}" enctype="multipart/form-data" method = "POST">
         <h3>Patient Info</h3>
         Case<br>
         <input type = "text" name = "case" /></br>
         
         Name<br>
         <input type="text" name = "name" ></input><br>
         
         Age<br>
         <input type = "text" name = "age" /><br>
         
         Shape<br>
         <input type = "text" name = "shape" /><br>
         
         Density<br>
         <input type = "text" name = "density" /><br>
         
         Margin<br>
         <input type = "text" name = "margin" /><br>
         
         Assessment<br>
         <input type = "text" name = "assessment" id="img"/><br>
         
         Image <br>
         <input type="file" name = "scan" />
               
         <input type = "submit" value = "submit" /><br>
         <!-- order: age, shape, density, margin -->
         
    </form>
      
   </body>
    <script>
    </script>